extends ../layouts/freelance.jade

block title
	title Author page

block content
	//- variables

	//- Content code

	// SECTION 1
	section.author-sec1
		.container
			article
				h1.author-title.
					Жизнь - это большая <br>
					космическая игра
				p.subtitle Вопрос только в том, у кого джойстик
			aside
				.widget-consultation
					p.widget-title Личная консультация
					p.widget-text.
						Вернём управление Вашей жизнью <br>
						в Ваши руки
					a.btn.btn-red Записаться

	include ../common/breadcrumbs.jade

	// SECTION 2
	section.author-sec2
		.container
			article
				h2.sec-title.
					Я помогаю другим людям <br>
					понять самих себя
				p.sec-subtitle.
					За счёт того, что понял себя, насколько это возможно
				.slider
				p.txt.
					Будучи потомком целого поколения врачей, я,  конечно, поступил в Медицинский. 
					Но на третьем курсе пришло понимание того, что человек больше, чем просто физическое тело, и здоровье не ограничивается телом. Тогда я заинтересовался нетрадиционной медициной, 
					а уже через неё пришел к психологии. Параллельно с обучением в мединституте я начал посещать психологические курсы, но никого не трогал, никого не лечил, просто пытался разобраться и понять, про что это всё. <br><br>

					Затем я получил второе высшее — психологическое образование. И вот уже 20 лет практикую 
					и 12 — обучаю своим методикам. Около 5ти лет назад сформировал свою систему — 
					ВсеЛенскую терапию, и она продолжает постоянно совершенствоваться и дополняться. <br><br>

					Мной руководят два основных мотива — любопытство и лень. Поэтому я постоянно учусь, чтобы делать свою работу всё более эффективной. Это позволяет мне работать меньше, а моим клиентам — получать результат всё быстрее. 

				p.txt.txt2.

					По сути своей я устроен, вернее настроен на моментальное видение где и как что-то можно усовершенствовать, а в моём поле постоянно присутствует что-то новое и интересное. <br><br>

					Поэтому я либо беру то, что уже есть и встраиваю в свою систему, проводя улучшения и делая это полезным и удобным для системы; либо придумываю что-то принципиально новое, чего до меня не было. Этому и учу.<br><br>

					Люблю анекдот на эту тему: 
					«Ученики пришли к учителю и спросили:

				.slider2
				p.citate.
					- Учитель, а Ты следуешь своим учителям? <br>
					- Конечно! – ответил Учитель. <br>
					- Но мы знаем, что не следуешь, - возразили ученики. <br>
					- Ну правильно! – пояснил Учитель – Мои учителя <br> тоже никому не следовали».
				p.txt.
					Однако, для выхода за рамки, для создания чего-то нового и работающего, <br>
					нужно иметь основательную базу знаний. Получив психологическое образование, я всё ещё 
					не мог практиковать, так в моём «арсенале» появились сертификаты по НЛП, гештальт-терапии, системным расстановкам, арт-терапии, телесно-ориентированной, <br>
					Эриксоновской, системной терапии и так далее.

				h2.sec-title.
					Вселенская терапия  <br>
					позволяет соответствовать высокому <br>
					 званию жителя вселенной
				p.sec-subtitle.
					И помогает справиться с 4 страшными вирусами человечества
				.slider
				p.txt.
					Из всех знаний, что я получал за жизнь, из личного опыта работы над своими проблемами, я кропотливо выстраивал свою психологическую систему терапии. Я стремился к тому, чтобы она позволяла попадать сразу в самую суть вопроса, возникающего у человека (или проблемы, если быть точнее). Второй важный её параметр — это универсальность. «Вселенка» позволяет прорабатывать любые ситуации: от психосоматики — до вопросов бизнеса. <br><br>
					 
					В названии моей системы «зашито» два важных смысла. ВсеЛенская терапия с одной стороны указывает на причастность ко всему большому Миру, а с другой — на её лёгкость и доступность даже самым ленивым людям. Это — система, которую я создал, которой я обучаю, и с помощью которой помогаю людям помогать другим людям.
				.graphic
					p.graphic-title 4 Вируса
					p.graphic-subtitle.
						<span>За 20 лет практики</span>
						я понял, что человечество <br>
						подвержено <br>
						4 страшным вирусам:
				.graphic-info
					p.info.
						<span>Мы не здесь и не сейчас</span>
						Есть ли кто-то там, с той стороны интернета, кто этим не болен?... Нет? Значит – это эпидемия.
					p.info.
						<span>Мы не довольны тем, что имеем</span>
						Lorem ipsum dolor sit amet, in ponderum mandamus ius
					p.info.
						<span>Мы не довольны самими собой, какие мы есть</span>
						Вылечившихся нет?... Нет. 
						Я так и знал!
					p.info.
						<span>Счастье</span>
						Вы тоже заражены маркетинговым вирусом «Мы рождены, чтобы быть счастливыми»?
				p.txt.
					Не поймите меня неправильно! Я не пропагандирую страдания, я — за срединный путь. 
					Мы рождены для получения личного жизненного опыта. И если Вы в процессе получения этого опыта испытываете радость — это Ваши личные проблемы. Цель «ВсеЛенки» не в том, чтобы сделать человека более счастливым, потому что это невозможно, а в том, чтобы сделать его более свободным, расширить спектр его возможностей выбора. <br><br>

					Я помогаю разобраться с самим собой, найти ресурсы для того, чтобы выдерживать ровно то, что выбрала Ваша душа в качестве своей судьбы.
				p.citate.
					И помните! Жизнь – это не повод быть серьёзным. <br>
					Это большая космическая игра. <br>
					Берите джойстик и – к свершениям!

			aside
				.widget-postandvideo
				.widget-personalmeet
					p.widget-title Личный прием
					p.widget-text.
						Вернём управление Вашей жизнью <br>
						в Ваши руки
					a.btn Записаться

	// SECTION REWIEWS
	section.sec-rewiews
		.container
			h2.sec-title Отзывы
			.rewiew-slider
				.rewiew.rew1
					.author-info
						.author-icon
						p.author-name Хана Шнайдман
						p.author-prof Психолог, Израиль
					.rewiew-info
						p.rewiew-theme ВсеЛенская терапия
						p.rewiew-name.
							Фантастической красоты, 
							глубины и силы работа
						p.rewiew-text.
							Фантастической красоты, глубины и силы работа. Правильная, точная, чистая. Всем, кто живет и думает, а еще больше тем, кто думает и не живет — срочно, немедленно и необходимо — к Тальпису!
			.slider-nav

	// SECTION AWARDS
	section.sec-awards
		.container
			h2.sec-title.
				Профессиональные сертификаты <br>
				 и награды
			.awards-slider
				.slider-item
					img(src="img/certificate.png", alt="")
					.hidden-text.
						Lorem ipsum dolor sit amet, 
						his mundi alienum cu
				.slider-item
					img(src="img/certificate.png", alt="")
				.slider-item
					img(src="img/certificate.png", alt="")
			.slider-dots

	include ../common/teraphy.jade
