extends ../layouts/freelance.jade

block title
	title Cources

block content
	//- variables

	// SECTION BLUEHEADER
	section.blueheader

	// SECTION breadcrumbs
	section.breadcrumbs
		.container
			p Главная	> Автор
	//SECTION 1
	.cources-sec1
		.container
			include ../common/subscribe-form.jade
			h2.sec-title Авторские Тренинги и Семинары
			aside
				ul.cources-list
					li
						a Метафорические карты
					li
						a Точка Сборки
					li
						a ВсеЛенская Терапия
					li
						a ВсеЛенская Терапия. Дополнения
					li
						a Тета-Хилинг Базовый
					li
						a Тета-Хилинг Продвинутый
					li
						a Тренерский курс
					li
						a Личная терапия
					li
						a Партнерские тренинги и семинары
					li
						a Пакетное обучение
				.widgets
			article
				.cources
					.cource.c1
						.cource-icon
						p.cource-name Метафорические карты
						p.cource-info.
							Простой способ
							познакомиться с методикой
							и научиться работе с картами
					.cource.c2
						.cource-icon
						p.cource-name Точка Сборки
						p.cource-info.
							Легкий и веселый
							обучающий семинар
							по квантовой психологии
					.cource.c3
						.cource-icon
						p.cource-name ВсеЛенская терапия
						p.cource-info.
							Обучение авторскому
							методу терапии
							Леонида Тальписа
					.cource.c4
						.cource-icon
						p.cource-name.big.
							ВсеЛенские <br>
							дополнения 1-2-3
						p.cource-info.
							Работа с актуальными темами для тех, кто уже прошел обучение методу

					.cource.c5
						.cource-icon
						p.cource-name.big Системное <br> моделирование
						p.cource-info.
							Авторский
							обучающий семинар
							Александра Зелинского
					.cource.c6
						.cource-icon
						p.cource-name Тета-Хилинг
						p.cource-info.
							Продвинутая авторская методика для проработки актуальных тем
					.cource.c7
						.cource-icon
						p.cource-name Тренерский курс
						p.cource-info.
							Только для профессионалов, желающих преподавать ВсеЛенскую терапию

					.cource.c8
						.cource-icon
						p.cource-name Групповая терапия
						p.cource-info.
							Работа с актуальными темами
							для тех, кто уже прошел
							обучение методу
					.cource.c9
						.cource-icon
						p.cource-name Пакетное обучение
						p.cource-info.
							 Экономьте на обучении,
							пройдя полный пакет в удобное вам время.

	include ../common/rewiews-blue.jade

	// SECTION 2
	.cources-sec2
		.container
			.row.clearfix
				article
					.post-image
					p.post-title.
						Леонид Тальпис: <br>
						«Мы все время пытаемся превратить жизнь
						в достижение результата  и из-за этого теряем
						сам процесс жизни»
					p.text.
						О том, как найти в себе скрытые возможности для получения личного опыта и разрешения собственных вопросов, а также приобретения практических навыков для работы с клиентами. <br><br>

						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 	Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
				aside
					.banner
					.widget-postandvideo2
			.banner
