extends ../layouts/freelance.jade

block title
	title Home

block content
	//- variables

	//- Content code

	// SECTION 1
	section.home-sec1 
		.container
			h1.home-title.
				Авторский сайт <br>
				Леонида Тальписа
			p.subtitle О ВсеЛенской терапии, жизни и смыслах

	// SECTION 2
	section.home-sec2
		.container
			h2.sec-title Авторские семинары и обучающие программы
			p.sec-subtitle.
				Наиболее эффективные трансформационные и терапевтические инструменты, <br> проверенные многолетней практикой и результатами клиентов
			.courses
				.course.course1
					.course-title Метафорические карты
					.course-info.
						Простой способ <br>
						познакомиться с методикой
						и научиться работе с картами

				.course.course2
					.course-title Точка Сборки
					.course-info.
						Легкий и веселый <br>
						обучающий семинар <br>
						по квантовой психологии
				.course.course3
					.course-title ВсеЛенская терапия
					.course-info.
						Обучение авторскому <br>
						методу терапии <br>
						Леонида Тальписа
				.course.course4
					.course-title Тета-Хилинг
					.course-info.
						Полноценный обучающий курс <br>
						+ дополнения <br>
						от Леонида Тальписа
				.course.course5
					.course-title.
						ВсеЛенские <br>
						дополнения 1-2-3
					.course-info.
						Работа с актуальными темами
						для тех, кто уже прошел обучение методу

				.course.course6
					.course-title.
						Тренерский курс
					.course-info.
						Только для профессионалов, желающих преподавать ВсеЛенскую терапию
				.course.course7
					.course-title.
						Системное 
						моделирование
					.course-info.
						Авторский  <br>
						обучающий семинар <br>
						Александра Зелинского
				.course.course8
					.course-title.
						Пакетное обучение
					.course-info.
						 Экономьте на обучении, <br>
						пройдя полный пакет в удобное вам время.

	// SECTION 3
	section.home-sec3
		.container
			.left-block
				h2.sec-title.
					Превращая жизнь в результате
					мы теряем саму жизнь
				p.sec-subtitle Из интервью с Леонидом Тальписом
				.video
				p.text.
					На мой взгляд, психотерапевт похож на экскурсовода. <br>
					Его основная задача – сделать так, чтобы у человека появился выбор, <br>
					и ровно там, где у человека выбор появляется, <br>
					задача психотерапевта заканчивается.
				.buttons
					a.btn.btn-red ПОДРОБНЕЕ О ТРЕНИНГАХ
					a.all-video Смотреть все видео >

			.right-block
				.rewiews-block
					p.rewiews-title Отзывы
					.rewiew.rew1
						.author-info
							.author-icon
							p.author-name Хана Шнайдман
							p.author-prof Психолог, Израиль
						.rewiew-info
							p.rewiew-name.
								Фантастической красоты, 
								глубины и силы работа
							p.rewiew-theme ВсеЛенская терапия
							p.rewiew-text.
								Фантастической красоты, глубины и силы работа. Правильная, точная, чистая. Всем, кто живет и думает, а еще больше тем, кто думает и не живет — срочно, немедленно и необходимо — к Тальпису!
							a.read-more(href="#") Читать больше >

					.rewiew.rew2
						.author-info
							.author-icon
							p.author-name Ольга Тетерина
							p.author-prof Психолог, Москва
						.rewiew-info
							p.rewiew-name.
								Фантастической красоты, 
								глубины и силы работа
							p.rewiew-theme ВсеЛенская терапия
							p.rewiew-text.
								Работу Леонида Борисовича лично мне трудно назвать работой. По моему мнению — это уже искусство на грани волшебства. Картинки, улыбка, провокативная фраза… — и… вдох-выдох, вдох-выдох — человек ожил, задышал, щёчки порозовели, глазки заблестели! Легко! Изящно! Очень бережно, я бы даже сказала — ласково! 

							a.read-more(href="#") Читать больше >

				.banner
	// SECTION 4
	section.home-sec4
		.container
			.talpis-photo
			.talpis-info
				h2.sec-title.
					Автор уникальной методики <br>
					Леонид Тальпис
				p.talpis-text.
					Леонид Тальпис – практикующий психолог, потомственный врач, автор уникальной терапевтической методики под названием «ВсеЛенская терапия» и ряда дополнений к популярным психологическим направлениям, официальный представитель метафорических карт OH-CARDS в России, тренер международного уровня.
				a.more-about.btn ПОДРОБНЕЕ ОБ АВТОРЕ
			.banner2 



