extends ../layouts/freelance.jade

block title
	title Metaphor cards page

block content
	//- variables

	//- Content code

	// SECTION 1
	section.met-sec1
		.container
		h1.course-title Метафорические карты
		p.course-subtitle.
			Простой и быстрый способ лично познакомиться с методикой <br>
			и попробовать ее на себе
		a.btn.btn-bron(href="#") Забронировать
		a.btn.btn-more(href="#") Узнать подробней

	// SECTION 2
	section.met-sec2
		.container
			h2.sec-title.
				Решение вопросов <br>
				в различных жизненных сферах
			p.sec-subtitle.
				Метафорические ассоциативные карты – это универсальный инструмент <br>
				для получения доступа к ресурсам подсознания и разрешения таких вопросов, как:
			.elements

				.element.el1
					.element-icon
					p.element-title.
						Партнерские <br>
						отношения
					p.element-text.
						Решение вопросов <br>
						между двумя людьми: <br>
						от родственных до деловых. 

				.element.el2
					.element-icon
					p.element-title.
						Дети <br>
						и Родители
					p.element-text.
						Воспитание детей, <br>
						сепарация от родителей, внутренний ребёнок, родитель, взрослый <br>
						(работа с внутренней семьей).

				.element.el3
					.element-icon
					p.element-title.
						Болезни <br>
						и Здоровье
					p.element-text.
						Исцеление телесных и психологических <br>
						симптомов и их причин.

				.element.el4
					.element-icon
					p.element-title.
						Деньги <br>
						и Бизнес
					p.element-text.
						Бизнес-отношения, проблема <br>
						в любых сферах бизнеса, моделирование различных вариантов развития бизнеса.
						Выявление узких мест и их оптимизация.

				.element.el5
					.element-icon
					p.element-title.
						Личностный рост
					p.element-text.
						Самопознание, <br>
						отношения с самим собой <br>
						и окружающим миром, творчество и профессиональное развитие.

				.element.el6
					.element-icon
					p.element-title.
						Жизненные <br>
						кризисы
					p.element-text.
						Избавление от фобий, усталости, панических атак, комплексов.

	// SECTION 3
	section.met-sec3
		.container
			p.cart-txt1 Работа с метафорическими картами
			p.cart-txt2.
				Позволяет моделировать любые процессы в прошлом, настоящем , будущем <br>
				и находить с помощью карт Метеорических карт <br>
				решение актуальных вопросов
			a.btn.btn-details(href="#") Узнать детали

	// SECTION 4
	section.met-sec4
		.container
			.left-block
				h2.sec-title.
					Хотите больше успеха, <br>
					 любви, денег?
				p.sec-text.
					ОН-карты существенно расширяют терапевтический арсенал психолога или психотерапевта, при этом методика работы доступна для людей не имеющих психологического образования
				a.btn Забронировать место
			.right-block
				p.item.it1.
					Без использования сложных <br>
					психологических теорий
				p.item.it2.
					Без «копания» 
					в вашем детстве
				p.item.it3.
					Без «Вы хотите 
					об этом поговорить?»
				p.item.it4.
					На понятном для вас языке
			p.blue-text.
				Семинар длится 1 день и включает в себя  <br>
				пошаговую технологию работы, которую вы сразу же сможете <br>
				применять для себя и своих клиентов

	// SECTION 5
	section.met-sec5
		.container
			h2.sec-title.
				Пройдя обучение на семинаре <br>
				по метафорическим картам, вы научитесь:
			ul
				li.
					Гармонизировать отношения с близкими, <br>
					друзьями, коллегами и самим собой
				li.
					Находить причины различных жизненных <br>
					ситуаций и их разрешение
				li.pt Прояснять вопросы с деньгами и финансами
				li.
					Понять свои цели и задачи <br>
					в период жизненных кризисов

			ul
				li.
					Осознавать свои цели и задачи в <br>
					период жизненных кризисов
				li.
					Способам работы с психологическими <br>
					 травмами

				li.
					Понимать собственные психологические <br>
					блоки и ресурсы
				li.
					Моделировать оптимальные стратегии 
					и искать нестандартные решения для вашего бизнеса.

	// SECTION 6
	section.met-sec6
		.container
			p.txt1 а главное:
			p.txt2.
				Получите эффективный инструмент, <br>
				применимый во всех сферах Вашей жизни

	// SECTION REWIEWS
	section.sec-rewiews.rew-white
		.container
			h2.sec-title Отзывы
			.rewiew-slider
				.rewiew.rew1
					.author-info
						.author-icon
						p.author-name Хана Шнайдман
						p.author-prof Психолог, Израиль
					.rewiew-info
						p.rewiew-theme ВсеЛенская терапия
						p.rewiew-name.
							Фантастической красоты, 
							глубины и силы работа
						p.rewiew-text.
							Фантастической красоты, глубины и силы работа. Правильная, точная, чистая. Всем, кто живет и думает, а еще больше тем, кто думает и не живет — срочно, немедленно и необходимо — к Тальпису!
			.slider-nav

	// SECTION 7
	section.met-sec7
		.container
			h2.sec-title.
				Устали от решения насущных проблем <br>
				и не знаете, как докопаться до сути?
			p.sec-subtitle.
				Метафорические карты помогут найти решение <br>
				быстро и эффективно

	// SECTION 8
	section.met-sec8
		.container
			.form-block
				form
					p.form-title Берите и применяйте!
					p.form-subtitle Для регистрации на семинар – заполните форму
					input(type="text", name="name", placeholder="Имя / Фамилия").name
					input(type="text", name="phone", placeholder="Номер телефона").phone
					input(type="text", name="email", placeholder="Email").email
					input(type="text", name="country", placeholder=" Город / Страна").country
					.education-block
						p.question Есть ли у вас психологическое образование?
						span.radio.checked Нет
						span.radio Да
					p.price-title Стоимость участия
					p.price <span>6 000</span> руб 
					p.after-price Посещение семинара возможно только после внесения предоплаты <span>500 р. </span>
					input(type="submit", value="Забронировать место").btn.met-subm

	// SECTION 9
	section.met-sec9
		.container
			h2.sec-title Ближайшие семинары
			.seminars
				.seminar
					.seminar-photo
					.seminar-info
						p.seminar-name.
							Семинар
							<span>«Точка сборки»</span>
						p.seminar-txt.
							Новейшие инструменты работы с психикой сейчас находятся на …
						span.date 14 Апреля
						a.more Подробнее
				.seminar
					.seminar-photo
					.seminar-info
						p.seminar-name.
							Семинар
							<span>«Точка сборки»</span>
						p.seminar-txt.
							Новейшие инструменты работы с психикой сейчас находятся на …
						span.date 14 Апреля
						a.more Подробнее
				.seminar
					.seminar-photo
					.seminar-info
						p.seminar-name.
							Семинар
							<span>«Точка сборки»</span>
						p.seminar-txt.
							Новейшие инструменты работы с психикой сейчас находятся на …
						span.date 14 Апреля
						a.more Подробнее
				.seminar
					.seminar-photo
					.seminar-info
						p.seminar-name.
							Семинар
							<span>«Точка сборки»</span>
						p.seminar-txt.
							Новейшие инструменты работы с психикой сейчас находятся на …
						span.date 14 Апреля
						a.more Подробнее 

	// SECTION 10
	section.video-rewiews
		.container
			h2.sec-title Видеотзывы
			.video-slider
			.slider-nav

	// SECTION 11
	section.met-sec11
		.container
			.talpis-bio
				h2.sec-title Тальпис Леонид Борисович
				p.talpis-info.
					Практикующий психолог и потомственный врач, имеющий два высших образования: 
					Медицина и Психология
				p.text.
					<span>20</span> Лет практики
				p.text.
					<span>8</span> Лет разработки собственного метода
				p.text.big.
					<span>1-й</span> Кто дополнил базовое обучение 
						метафорическими картами авторской методикой
				p.text.
					<span>20</span> Тис. учеников за годы практики 
				a.btn.btn-more ПОДРОБНЕЕ ОБ АВТОРЕ
			.talpis-photo

	// SECTION TERAPHY
	section.sec-teraphy
		.left
			h2.sec-title.
				Запись на <br>
				 индивидуальную терапию
			a.btn.btn-teraphy(href="#")  Записаться
		.right
			h2.sec-title.
				Запись на <br>
				 рупповую терапию
			a.btn.btn-teraphy(href="#")  Записаться

	// SECTION SERTIFICATE
	section.sec-sertificate
		.container
			.sertificate-photo
			.sertificate-info 
				h2.sec-title.
					Сертификат<br>
					о прохождении тренинга
				p.sert-text.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque 
				a.btn.btn-bron(href="#") Забронировать место










