extends ../layouts/freelance.jade

block title
	title Trainer and partners page

block content
	//- variables

	//- Content code

	// SECTION BLUEHEADER
	section.blueheader

	// SECTION breadcrumbs
	section.breadcrumbs
		.container
			p Главная	> Тренеры и партнеры

	// SECTION 1
	section.trainers-sec1
		.container
			h2.sec-title.
				Авторизированные тренеры <br>
				и партнеры в вашем городе
			.trainer.left
				.trainer-info
					.trainer-photo
					p.trainer-name John Campbell
					p.trainer-prof Compatible Inkjet Cartridge
				.trainer-text
					p.text-title.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
					.text-txt.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					a.totrainer-site Перейти на сайт тренера >

			.trainer.left
				.trainer-info
					.trainer-photo
					p.trainer-name John Campbell
					p.trainer-prof Compatible Inkjet Cartridge
				.trainer-text
					p.text-title.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
					.text-txt.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					a.totrainer-site Перейти на сайт тренера >

			.trainer.left
				.trainer-info
					.trainer-photo
					p.trainer-name John Campbell
					p.trainer-prof Compatible Inkjet Cartridge
				.trainer-text
					p.text-title.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
					.text-txt.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					a.totrainer-site Перейти на сайт тренера >






