extends ../layouts/freelance.jade

block title
	title teta phill page

block content
	//- variables

	//- Content code

	// SECTION 1
	section.course-sec1.teta-sec1
		.container
		h1.course-title Тета-Хилинг
		p.course-subtitle.
			Методика преподавания классического тета-хилинга <br>
			с авторскими дополнениями
		a.btn.btn-bron(href="#") Забронировать
		a.btn.btn-more(href="#") Узнать подробней

	// SECTION 2
	section.course-sec2.teta-sec2
		.container
			h2.sec-title.
				Жизненные сферы
			p.sec-subtitle.
				Основатель техники Theta-Healing ® - американка Вианна Стайбл, известная тем, <br>
				что в 1995 году исцелила себя от онкологии с помощью данной техники, после чего стала преподавать ее другим.
			.elements

				.element.el1
					.element-icon
					p.element-title.
						Снятию <br>
						стресса
					p.element-text.
						Lorem ipsum dolor sit <br>
						 amet, consectetur limit

				.element.el2
					.element-icon
					p.element-title.
						Творческому <br>
						мышлению
					p.element-text.
						Lorem ipsum dolor sit amet, consectetur limit

				.element.el3
					.element-icon
					p.element-title.
						Снижению <br>
						боли
					p.element-text.
						Lorem ipsum dolor sit amet, consectetur limit

				.element.el4
					.element-icon
					p.element-title.
						Выбросу <br>
						эндорфинов
					p.element-text.
						Lorem ipsum dolor sit amet, consectetur limit

				.element.el5
					.element-icon
					p.element-title.
						Целостному <br>
						расслаблению
					p.element-text.
						Lorem ipsum dolor sit amet, consectetur limit


	// SECTION 3
	section.teta-sec3
		.container
			.left-block
				h2.sec-title Об Авторе Методики
				p.author-name Вианна Стайбл
				p.txt.
					Необычные способности к ясновидению проявлялись у нее с самого детства и она с успехом использовала их для помощи людям. Однажды у Вианны обнаружили онкологическое заболевание, быстро разрушавшее ее правое бедро. Она к тому времени была уже матерью троих детей, и не могла позволить болезни уничтожить свою жизнь. 
					<br><br>
					Тогда Вианна стала изучать даосизм, натуропатию и массаж, чтобы помочь самой себе, она перепробовала многие методы как традиционной, так и альтернативной медицины. 
			.right-block
				.author-photo
				p.txt.
					Но болезнь не отступала. Все это время Вианна по-прежнему принимала и лечила людей, совершая для них считывания и исцеления, находясь при этом в особом состоянии сознания.
					<br><br>
					Наконец, в 1995 году Вианна обнаружила, что техника, которую она разработала и применяла для помощи своим клиентам, была способна мгновенно их 
					излечивать от самых различных заболеваний. 
					<br><br>
					Тогда Вианна применила эту технику к самой себе и исцелилась. Она обратилась к ученым за объяснением. В результате научных исследований выяснилось, что это особое исцеляющее состояние сознания связано с преобладанием в этот момент у человека Тета-волн головного мозга».


	// SECTION success
	section.teta-sec-succes
		.container
			.image-block
			.right-block
				h2.sec-title.
					Феноменальный успех <br>
					Тета-хилинга
				ul
					li.
						Его простота и эффективность 
						вызвали интерес к нему во всем мире. 
					li.
						Они с легкостью используют его 
						для исцеления и помощи себе и другим 
						людям, изменяя нашу жизнь к лучшему.
					li.
						На сегодняшний день ему обучились 
						несколько сотен тысяч человек, практикующих его 
						в самых различных сферах человеческого бытия. 

				a.btn.btn-bron Забронировать

	// SECTION 4
	section.teta-sec4
		.container
			h2.sec-title.
				Хотите получить возможность <br>
				менять подсознательные программы и установки?
			p.sec-text.
				Как в отношении самого себя, так и других?
			p.blue-text.
				А главное, по окончании тренинга выдается сертификат Тета-целителя института THInK Вианны Стайбл соответствующего уровня.
				<a class="btn"> Забронировать место</a>

	// SECTION 5
	section.teta-sec5
		.container
			h2.sec-title.
				Основа обучения Тета-Хилингу -<br>
				базовый и продвинутый курс 
			p.text.
				Леонид Тальпис привнес в процесс обучения свои авторские дополнения, <br>
				с помощью которых Вы сможете овладеть эффективным инструментом по выявлению <br>
				и трансформации подсознательных конфликтов и ограничений, удерживающих симптом <br>
				или проблемную ситуацию. 

	// TETA COURSES
	section.teta-courses
		.row
			.course.basic
				h2.sec-title Базовый
				a.btn-more(data-target="basic") Подробенее
			.course.advanced
				h2.sec-title Продвинутый
				a.btn-more(data-target="advanced") Подробенее
		.switch.seminar-plan.hidden-basic
			.container
				h2.sec-title На «Базовом» курсе Вы научитесь:
				p.title	План семинара
				ul
					li.
						Находить и изменять Ваши убеждения 
						на четырех различных уровнях восприятия (Базовом, Генетическом, Историческом 
						и Уровне Души)
					li.
						Освобождаться от психических крючков 
						и атак.
					li.
						Помогать другим людям исцелиться
						и раскрыть их творческий потенциал.

				ul
					li.
						Использовать данную систему 
						для исцеления физического здоровья 
						и создания духовного и материального благополучия.
					li.pt.
						Совершать групповые исцеления.

					li.
						Научиться сканировать человеческое тело, определять нарушенные органы и системы и исцелять их.

				a.btn.btn-bron ЗАБРОНИРОВАТЬ

		.switch.seminar-plan.hidden-advanced
			.container
				h2.sec-title На «Продвинутом» курсе Вы научитесь:
				p.title	План семинара
				ul
					li.
						Находить ключевые причины болезни 
						или ситуации.
					li.
						Освобождаться от психических крючков 
						и атак.
					li.
						Очищать сердце и все тело от боли, горя 
						и ненависти, накопленных Вами и многими поколениями до Вас.
					li.
						Превращать собственную агрессию, обиды и сожаления в ценные уроки.

				ul
					li.pt.
						Помогать людям с зависимостями.
					li.
						Получать доступ к необходимым чувствам и способностям.

					li.
						Освобождаться от неосознанно воспринятых программ и неосознанного опыта.
					li.
						Навыкам интуитивного видения 
						и считывании информации.

				a.btn.btn-bron ЗАБРОНИРОВАТЬ


	// TETA OPEN FOR YOU
	section.teta-sec-openforyou
		.container
			.right-block
				h2.sec-title.
					Что вы откроете для себя
				ul
					li.
						Возможность исцелять себя и окружающих на физическом, эмоциональном и духовном уровнях.
					li.
						Привлечь в свою жизнь идеально подходящего 
						Вам партнера и друзей.
					li.
						Изменять убеждения на глубинном и генетическом 
						уровнях
					li.
						Понять задачи Вашей души и полностью 
						трансформировать свою жизнь в соответствии 
						с ее задачами

				a.btn.btn-bron Забронировать
			.image-block

	// SECTION 6
	section.met-sec6.teta-sec6
		.container
			p.txt1 Всего за три дня обучения на тренинге,
			p.txt2.
				Вы получите эффективный инструмент для исцеления души и тела, <br>
				вне зависимости от вашей психологической подготовки.

	// SECTION REWIEWS
	section.sec-rewiews.rew-white
		.container
			h2.sec-title Отзывы
			.rewiew-slider
				.rewiew.rew1
					.author-info
						.author-icon
						p.author-name Хана Шнайдман
						p.author-prof Психолог, Израиль
					.rewiew-info
						p.rewiew-theme ВсеЛенская терапия
						p.rewiew-name.
							Фантастической красоты, 
							глубины и силы работа
						p.rewiew-text.
							Фантастической красоты, глубины и силы работа. Правильная, точная, чистая. Всем, кто живет и думает, а еще больше тем, кто думает и не живет — срочно, немедленно и необходимо — к Тальпису!
			.slider-nav

	// SECTION 7
	section.met-sec7.teta-sec7
		.container
			h2.sec-title.
				Хотите научится исцелять душу и тело <br>
				у себя и других людей?
			p.sec-subtitle.
				Theta-Healing ® поможет Вам обрести эффективную технологию исцеления <br>
				всех Ваших внутренних блоков и вопросов, вне зависимости от наличия опыта духовных практик <br>
				или техник личностного развития

	// SECTION 8
	section.met-sec8.teta-sec8 
		.container
			.form-block
				form
					p.form-title.
						Освойте уникальную технику исцеления, 
						подтвержденную мировой практикой!
					p.form-subtitle Для регистрации на семинар – заполните форму
					input(type="text", name="name", placeholder="Имя / Фамилия").name
					input(type="text", name="phone", placeholder="Номер телефона").phone
					input(type="text", name="email", placeholder="Email").email
					input(type="text", name="country", placeholder=" Город / Страна").country
					.education-block
						p.question Есть ли у вас психологическое образование?
						span.radio.checked Нет
						span.radio Да
					<br>
					p.bottom-text.
						<span>*</span> - Эффективнее всего проходить Базовый и Продвинутый тренинги сразу — 
							это основа системы ThetaHealing® <br><br>

							<span>*</span> - Беременным в первый триместр беременности участие в курсе не рекомендовано.
					a.seminar-price(href="#modal-tetaPrice") Стоимость семинара
					input(type="submit", value="Забронировать место").btn.met-subm

	// SECTION 9
	section.met-sec9
		.container
			h2.sec-title Ближайшие семинары
			.seminars
				.seminar
					.seminar-photo
					.seminar-info
						p.seminar-name.
							Семинар
							<span>«Точка сборки»</span>
						p.seminar-txt.
							Новейшие инструменты работы с психикой сейчас находятся на …
						span.date 14 Апреля
						a.more Подробнее
				.seminar
					.seminar-photo
					.seminar-info
						p.seminar-name.
							Семинар
							<span>«Точка сборки»</span>
						p.seminar-txt.
							Новейшие инструменты работы с психикой сейчас находятся на …
						span.date 14 Апреля
						a.more Подробнее
				.seminar
					.seminar-photo
					.seminar-info
						p.seminar-name.
							Семинар
							<span>«Точка сборки»</span>
						p.seminar-txt.
							Новейшие инструменты работы с психикой сейчас находятся на …
						span.date 14 Апреля
						a.more Подробнее
				.seminar
					.seminar-photo
					.seminar-info
						p.seminar-name.
							Семинар
							<span>«Точка сборки»</span>
						p.seminar-txt.
							Новейшие инструменты работы с психикой сейчас находятся на …
						span.date 14 Апреля
						a.more Подробнее 

	// SECTION 10
	section.video-rewiews
		.container
			h2.sec-title Видеотзывы
			.video-slider
			.slider-nav

	// SECTION 11
	section.met-sec11
		.container
			.talpis-bio
				h2.sec-title Тальпис Леонид Борисович
				p.talpis-info.
					Практикующий психолог и потомственный врач, имеющий два высших образования: 
					Медицина и Психология
				p.text.
					<span>20</span> Лет практики
				p.text.
					<span>8</span> Лет разработки собственного метода
				p.text.big.
					<span>1-й</span> Кто дополнил базовое обучение 
						метафорическими картами авторской методикой
				p.text.
					<span>20</span> Тис. учеников за годы практики 
				a.btn.btn-more ПОДРОБНЕЕ ОБ АВТОРЕ
			.talpis-photo

	// SECTION TERAPHY
	section.sec-teraphy
		.left
			h2.sec-title.
				Запись на <br>
				 индивидуальную терапию
			a.btn.btn-teraphy(href="#")  Записаться
		.right
			h2.sec-title.
				Запись на <br>
				 рупповую терапию
			a.btn.btn-teraphy(href="#")  Записаться














