extends ../layouts/freelance.jade

block title
	title Trainer course page

block content
	//- variables

	//- Content code

	// SECTION 1
	section.course-sec1.trainer-sec1
		.container
		h1.course-title Тренерский курс
		p.course-subtitle.
			Курс предназначен для профессионалов, <br>
			желающих преподавать метафорические карты с элементами ВсеЛенской терапии
		a.btn.btn-bron(href="#") Забронировать
		a.btn.btn-more(href="#") Узнать подробней

	// SECTION 2
	section.course-sec2.trainer-sec2
		.container
			h2.sec-title.
				Для прохождения курса <br>
				необходимо пройти:
			.elements

				.element.el1
					.element-icon
					p.element-text.
						Обучение <span>ВсеЛенской терапии</span> <br>
						и дополнениям <span>1-2-3</span>
					a.to-course(href="#") Перейти на курс

				.element.el2
					.element-icon
					p.element-text.
						Базовый курс по <br>
						<span>метафорическим картам</span> <br>
						и иметь опыт работы с картами <br>
						не менее полугода.
					a.to-course(href="#") Перейти на курс

				.element.el3
					.element-icon
					p.element-text.
						Семинар <span>«Точка Сборки»</span>
					a.to-course(href="#") Перейти на курс

			.bottom-text.
				<span>*</span> - Прохождение базового и продвинутого курса по <span>Тета-хилингу</span> является  <br>
				 желательным, но необязательным требованием.

	// SECTION 3
	section.trainer-sec3
		.container
			p.txt.
				Особенности методики преподавания метафорическим картам <br>
				по методу Леонида Тальписа. Нюансы, профессиональные аспекты терапевта, <br>взаимодействие с клиентами, применение карт в индивидуальной <br>
				и групповой терапии: от психосоматики <br>
				до бизнес-консультирования.
			a.btn.btn-red(href="#") Забронировать

	// SECTION 4
	section.trainer-sec4
		.container
			h2.sec-title.
				Курс рекомендован профессионалам <br>
				с психологическим образованием, <br>
				которые:
			.items
				p.item.
					<span>Прошли обучение
					на базовом семинаре</span>
					По ВсеЛенской терапии и Дополнениям
				p.item.
					<span>Обладают достаточной 
					степенью лени</span>
					Чтобы не тратить время на неэффективные методы и долгие разговоры с клиентом.
				p.item.
					<span>Искренне влюблены в 
					метод ВсеЛенской терапии</span>
					Готовы активно развивать его.
			.items
				p.item.
					<span>Находятся в хорошем 
										контакте</span>
					Со своей чувствительность, ясностью и чем-то Большим.
				p.item.
					<span>Обладают достаточной 
										степенью осознанности</span>
					Чтобы не «причинять добро», 
					а увеличить степень свободы клиента и расширить возможности его выборов.
				p.item.
					<span>Знают, что такое 
										«Поле Любви»</span>
					Умеют находиться в мета-позиции во время работы 
					с клиентом.
			.items
				p.item.
					<span>Никогда не перестают 
										учиться</span>
					И развиваться в своей практике.
				p.item.
					<span>Чувствуют внутреннюю 
										готовность отдавать</span>
					Делиться знаниями, и делать это 
					с юмором и легкостью.
				p.item.lst


	// SECTION 5
	section.trainer-sec5
		.container
			.left-block
				h2.sec-title.
					Прохождение <br>
					тренерского курса дает право: 
				ul
					li.
						Самостоятельно преподавать метафорические карты с элементами ВсеЛенской терапии.
					li.
						Сертификат официального представителя <span>oh-cards.ru</span> в своем городе/стране и получать существенные скидки при покупке карт для своих семинаров через сайт.
					li.
						Организовывать семинары Леонида Тальписа в своем городе/стране.
					li.
						Проводить поддерживающие группы для прошедших семинары по ВсеЛенской терапии и Точки Сборки.
					li.
						Проходить групповую терапию для <br> тренеров.
					li.
						Быть представленным в разделе «Партнерские семинары» данного сайта.

			.image-block



	// SECTION 6
	section.trainer-sec6
		

	// SECTION 7
	section.trainer-sec7.course-formblock
		.container
			.form-block
				form
					p.form-title.
						Начните свой путь <br>
						к сертифицированному <br>тренеру 
						уже сегодня!
					p.form-subtitle Для регистрации на курс – заполните форму
					input(type="text", name="name", placeholder="Имя / Фамилия").name
					input(type="text", name="phone", placeholder="Номер телефона").phone
					input(type="text", name="email", placeholder="Email").email
					input(type="text", name="country", placeholder=" Город / Страна").country
					.education-block
						p.question Есть ли у вас психологическое образование?
						span.radio.checked Нет
						span.radio Да
					p.price-title Стоимость участия
					p.price <span>72 000</span> руб 
					p.after-price После внесения предоплаты <span>5000 р. </span>
					input(type="submit", value="Забронировать место").btn.met-subm
					p.bottom-text.
						<span>*</span> - Заявки на участие в тренерском курсе проходят предварительный отбор. 
						Мы оставляем за собой право отказать в участии в курсе, если чувствуем,
						 что вы еще не готовы стать тренером.











