extends ../layouts/freelance.jade

block title
	title Vselenskaya teraphy page

block content
	//- variables

	//- Content code

	// SECTION 1
	section.course-sec1.vsel-sec1
		.container
		h1.course-title ВсеЛенская Терапия
		p.course-subtitle.
			Авторская методика Леонида Тальписа для тех, кто устал от многочисленных методов психотерапии, <br>      
			требующих длительного изучения и кому надоело лечить и лечится
		a.btn.btn-bron(href="#") Забронировать
		a.btn.btn-more(href="#") Узнать подробней

	// SECTION 2
	section.course-sec2.vsel-sec2
		.container
			h2.sec-title.
				Описание методики
			p.sec-subtitle.
				ВсеЛенская терапия – авторская методика, которая базируется на более чем 20-и летней практике Леонида Тальписа, <br>
				его оригинальных разработках и опыте в гештальте, расстановках, провокативной терапии, квантовой психология, <br>
				тета-хилинге, телесной и процессуальной терапии и многом другом
			p.text Основные достоинства ВсеЛенской терапии:
			.elements

				.element.el1
					.element-icon
					p.element-title.
						Системность <br><br>
					p.element-text.
						Глубина метода работы

				.element.el2
					.element-icon
					p.element-title.
						Многогранность <br>
						инструментов
					p.element-text.
						Индивидуальный подход к любому клиенту, обширный инструментарий для решения самых разнообразных задач

				.element.el3
					.element-icon
					p.element-title.
						Высокая скорость  <br>
						и эффективность
					p.element-text.
						1-5 сессий для решения самых сложных жизненных вопросов вместо нескольких лет терапии

				.element.el4
					.element-icon
					p.element-title.
						Отсутствие <br>
						 переживаний
					p.element-text.
						Минимальный шанс ретравматизации.

				.element.el5
					.element-icon
					p.element-title.
						Доступность  <br>
						методики
					p.element-text.
						Для самостоятельной работы без психологической подготовки.


	// SECTION 3
	section.met-sec3.vsel-sec3
		.container
			p.cart-txt1 Главным достоинством методики
			p.cart-txt2.
				Является четкая пошаговая структура выявления причин происходящего <br>
				и понятный и четкий алгоритм решения психологических вопросов
			a.btn.btn-red(href="#") Забронировать

	// SECTION 4
	section.vsel-sec4
		.container
			h2.sec-title.
				Быстрый и эффективный подход, интегрирующий возможности самых разнообразных методов – ВсеЛенская терапия позволит сразу же определить причину и способ решения, который подходит именно Вам
			p.sec-text.
				За время обучения Вы сможете попробовать на себе и научится использовать простые 
				и понятные технологии, применимые для работы с любого рода вопросами, 
				от психосоматики до бизнес-консультирования.

	// SECTION 5
	section.met-sec5.vsel-sec5
		.container
			h2.sec-title.
				ВсеЛенская терапия – для Вас, если Вы:
			ul
				li.
					Устали ходить с одним и тем же запросом 
					по разным психологам, и желаете найти методику, 
					которая поможет именно Вам.
				li.
					Не можете выбрать нужную из обилия различных методик 
					и не знаете с чего начать.» меняем на «Запутались в обилии методик и не знаете с чего начать
				li.
					Не собираетесь становиться профессиональным терапевтом, но хотите понять  принципы, по которым живете Вы 
					и другие люди,  расширив свое восприятие реальности.

			ul
				li.
					Психотерапевтам, которые уже изучили множество разных методов, но все еще недовольны результатами своей работы. Здесь вы сможете значительно расширить свой арсенал и понять, почему многие инструменты из вашего арсенала не работают
				li.
					Сможете расширить свой терапевтический арсенал и научится использовать инструменты по новой и с точки зрения 
					ВсеЛенской терапии


	// SECTION 6
	section.met-sec6.vsel-sec6
		.container
			p.txt1 Всего за пять дней,
			p.txt2.
				Вы получите целостную методологию и структуру вселенской терапии, сможете ее интегрировать в свою практику и попробовать метод на себе и решить ряд ключевых вопросов


	// SECTION 7
	section.met-sec5.vsel-sec7
		.container
			h2.sec-title.
				В процессе обучения, Вы научитесь:
			ul
				li.
					Поймете и найдете решение своих вопросов
				li.
					Научитесь выходить за рамки устаревших шаблонных реакций
				li.
					Использовать самые современные техники для улучшения психологического состояния.
				li.
					Использовать мышечное тестирование, как способ нахождения эмоционального заряда.
				li.
					Использовать мышечное тестирование, как способ нахождения эмоционального заряда.
			ul
				li.
					Рабочей методике с основными жизненными вопросами.
				li.
					Работать с ключевыми жизненными вопросами: от личностных и до бизнеса.
				li.
					Научитесь применять юмор и провокативные техники для работы с самыми серьезными проблемами
				li.
					Получите структуру для выявления проблем и способа работы с ними на уровне текущей жизни, родовой системы и других уровнях
				li.
					Новым знаниям по работе с метафорическими картами, как инструментом для диагностики психологических и сематических симптомов


	// SECTION 8
	section.met-sec5.vsel-sec8
		.container
			p.title	План семинара
			ul
				li.
					Психологические и соматические симптомы, как способ коммуникации и проявление эмоционального заряда. 
					Душа и ее место в психотерапии.
				li.
					Способы нахождения эмоционального заряда. Использование мышечного тестирования. Тело, как проективная карта нашей жизни.
				li.
					Уровни нахождения заряда, от внутриличностных конфликтов до родовой системы. Основные психологические причины болезней.

			ul
				li.
					Использование метафорических карт для диагностики и терапии психологических и соматических симптомов
				li.small.
					Основные способы снятия заряда и интеграции полученного опыта.

				li.
					Работа с ключевыми психологическими моментами нашей жизни:
					<div class="hidden-tooltip">
						<span>Внутренний родитель, взрослый, ребенок</span>
						<span>Взаимоотношения с реальными родителями. Сепарация.</span>
						<span>6 движений любви</span>
						<span>Партнерские отношения. Внутренний мужчина и внутренняя женщина.</span>
						<span>Достоинство и власть</span>
						<span>Деньги и бизнес</span>
					</div>

	// SECTION SERTEFICATE-BLUE
	section.sec-serteficate-blue
		.container
			.sert
			.text-block
				p.text.
					<span>А главное:</span>
					По окончании курса вы получите сертификат 
					Общероссийской Профессиональной 
					Психотерапевтической Лиги соответствующего уровня.
				a.btn.btn-bron Забронировать место


	include ../common/rewiews.jade

	// SECTION 9
	section.met-sec7.vsel-sec9
		.container
			h2.sec-title.
				Хотите приобрести эффективные  <br>
				практические навыки для разрешение собственных <br>
				 вопросов и работы с клиентами?
			p.sec-subtitle.
				ВсеЛенская терапия даст Вам возможность сразу попадать в самую суть вопроса, <br>
				минуя длинные истории и используя юмор и лень терапевта.

	// SECTION 10
	section.vsel-sec10.course-formblock
		.container
			.form-block
				form
					p.form-title.
						Ваш шанс обучится 
						профессиональной методике 
					p.form-subtitle Для регистрации на семинар – заполните форму
					input(type="text", name="name", placeholder="Имя / Фамилия").name
					input(type="text", name="phone", placeholder="Номер телефона").phone
					input(type="text", name="email", placeholder="Email").email
					input(type="text", name="country", placeholder=" Город / Страна").country
					.education-block
						p.question Есть ли у вас психологическое образование?
						span.radio.checked Нет
						span.radio Да
					p.price-title Стоимость участия
					//- p.price <span>6 000</span> руб 
					//- p.after-price Посещение семинара возможно только после внесения предоплаты <span>500 р. </span>
					input(type="submit", value="Забронировать место").btn.met-subm
					p.bottom-text.
						<span>*</span> - Перед семинаром по Вселенской терапии необходимо пройти семинар по <span>Метафорическим картам </span>или <span>«Точке Сборки»</span>. <br><br>
						<span>*</span> - Беременным в первый триместр беременности участие в курсе не рекомендовано.

	include ../common/closest-seminars.jade

	include ../common/video-rewiews.jade

	include ../common/talpis-bio.jade

	include ../common/teraphy.jade












