// COURSES COMMON STYLES
.course-sec1 {
	min-height: 700px;
	padding-top: 208px;
	text-align: center;
	background: url(../img/metabg.jpg) 50% no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
	&:after {
		content: '';
		display: block;
		width: 117px;
		height: 32px;
		background: url(../img/layer-snow.png) 50% 0 no-repeat;
		left: 50%;
		transform: translateX(-50%);
		bottom: -17px;
		position: absolute;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: -20px;
		left: 50%;
		transform: translateX(-50%);
		width: 14px;
		height: 21px;
		background: url(../img/arr-blue-down.png) 50% no-repeat;
		z-index: 99;
	}
	.btn {
		margin: 0 12px;
		text-transform: uppercase;
	}
}

.course-sec2{
	padding-top: 120px;
	padding-bottom: 120px;
	text-align: center;
	.sec-subtitle {
		margin-bottom: 72px;
	}
	.element {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 33.1%;
		// margin-bottom: 120px;
		.element-icon {
			width: 127px;
			height: 128px;
			display: inline-block;
			border: 3px solid #f6f9fd;
			background-color: #f6f9fd;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position: 50%;
			margin-bottom: 17px;
		}
		.element-title {
			color: $darkB;
			font-family: $CB;
			font-size: 20px;
			line-height: 24px;
			&:after {
				content: '';
				display: block;
				margin: 0 auto;
				margin-top: 16px;
				margin-bottom: 13px;
				width: 63px;
				height: 2px;
				border-radius: 64px;
				background-color: #7785b5;
				opacity: 0.21;
			}
		}
		.element-text {
			display: inline-block;
			max-width: 300px;
			color: $darkL;
			font-family: $CR;
			font-size: 16px;
			line-height: 24px;
		}
	}
}


.course-formblock {
	height: 966px;
	background-color: #eef3fa;
	text-align: center;
	.form-block {
		width: 729px;
		padding-top: 78px;
		padding-left: 100px;
		padding-right: 100px;
		padding-bottom: 90px;
		border-radius: 10px;
		background-color: $white;
		margin: 0 auto;
		transform: translateY(-100px);
		.form-title {
			color: $darkB;
			font-family: $CB;
			font-size: 40px;
			line-height: 52px;
			margin-bottom: 8px;
		}
		.form-subtitle {
			margin-bottom: 40px;
			opacity: 0.6;
			color: #000000;
			font-family: $CR;
			font-size: 20px;
			line-height: 28px;
		}
		input[type="text"]{
			width: 100%;
			height: 46px;
			border-radius: 4px;
			background-color: #f6f9fd;
			color: #a9b9c9;
			font-family: $CR;
			font-size: 16px;
			line-height: 46px;
			border: none;
			outline: none;
			margin-bottom: 30px;
			text-align: center;
			background-position: 12px 50%;
			background-repeat: no-repeat;
		}
		input.name {background-image: url(../img/user-icon-form.png);}
		input.phone {background-image: url(../img/phone-icon-form.png);}
		input.email {background-image: url(../img/email-icon-form.png);}
		input.country {background-image: url(../img/country-icon-form.png);margin-bottom: 0;}

		.education-block {
			padding-top: 40px;
			padding-bottom: 30px;
			border-top: 1px solid #e3e3e3;
			border-bottom: 1px solid #e3e3e3;
			margin-top: 45px;
			margin-bottom: 45px;
			.question {
				color: #676767;
				font-family: $CR;
				font-size: 18px;
				line-height: 28px;
				margin-bottom: 24px;
			}
			.radio {
				color: #676767;
				font-family: $CR;
				font-size: 16px;
				line-height: 36px;
				margin: 0 25px;
				display: inline-block;
				position: relative;
				padding-left: 30px;
				&:before {
					content: '';
					display: block;
					width: 20px;
					height: 20px;
					border: 2px solid #1397e1;
					background-color: $white;
					border-radius: 50%;
					position: absolute;
					left: 0;
					top:7px;
				}
				&.checked {
					&:after {
						content: '';
						display: block;
						width: 12px;
						height: 12px;
						background-color: #1397e1;
						border-radius: 50%;
						position: absolute;
						left: 4px;
						top:11px;
					}
				}
			}
		}
		.price-title {
			color: $darkB;
			font-family: $CR;
			font-size: 14px;
		}
		.price {
			font-family: $CR;
			color: #000000;
			font-size: 26px;
			font-size: 14px;
			span {
				font-family: $CB;
				color: #f34d67;
				font-size: 22px;
			}
		}
		.after-price {
			opacity: 0.99;
			font-family: $CB;
			color: $darkL;
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 43px;
			span {
				color: #1a64a1;
			}
		}
		a.seminar-price {
			width: 140px;
			color: $red;
			font-family: $CB;
			font-size: 14px;
			display: block;
			margin: 15px auto;
			padding-right: 10px;
			background: url(../img/priceseminar-icon.png) 100% 50% no-repeat;
		}
	}

}


.closest-seminars {
	text-align: center;
	padding-top: 116px;
	padding-bottom: 75px;
	position: relative;
	background: url(../img/closest-seminars-bg.png) 50% 104px no-repeat;
	&:after {
		content: '';
		display: block;
		width: 117px;
		height: 32px;
		background: url(../img/layer-snow.png)  50% no-repeat;
		position: absolute;
		left: 50%;
		bottom: -15px;
		transform: translateX(-50%) rotate(180deg);
		z-index: 99;
	}
	.seminars {
		margin-top: 38px;
	}
	.seminar {
		display: inline-block;
		width: 50%;
		height: 217px;
		background-color:  #f6f9fd;
		float: left;
		text-align: left;
		.seminar-photo {
			background: url(../img/seminar-photo.jpg) 0 0 no-repeat;
			width: 50%;
			display: inline-block;
			vertical-align: top;
			float: left;
			height: 217px;
			background-position: 50%;
			background-size: cover;
		}
		.seminar-info {
			height: 100%;
			padding-top: 24px;
			padding-right: 25px;
			padding-left: 25px;
			display: inline-block;
			vertical-align: top;
			width: 50%;
			padding-bottom: 50px;
			position: relative;
			&:before {
				content: '';
				display: block;
				width: 20px;
				height: 20px;
				background-color: #f8fafd;
				transform: rotate(45deg) translateY(-50%);
				position: absolute;
				left: -15px;
				top: 50%;
			}
		}
		.seminar-name {
			color: #999999;
			font-family: $CR;
			font-size: 14px;
			span {
				display: block;
				color: $darkB;
				font-family: $CB;
				font-size: 20px;
				line-height: 22.93px;
			}
			&:after {
				content: '';
				display: block;
				width: 173px;
				height: 1px;
				border-radius: 64px;
				background-color: #7785b5;
				opacity: 0.21;
				margin-top: 17px;
				margin-bottom: 19px;
			}
		}
		.seminar-txt {
			color: $darkL;
			font-family: $CR;
			font-size: 14px;
			height: 38px;
			overflow: hidden;
			line-height: 18px;
		}
		.date {
			position: absolute;
			bottom: 18px;
			opacity: 0.8;
			color: #999999;
			font-family: $CR;
			font-size: 14px;
			padding-left: 20px;
			background: url(../img/date-icon.png) 0 50% no-repeat;
		}
		.more {
			position: absolute;
			bottom: 18px;
			right: 35px;
			color: $red;
			font-family: $CB;
			font-size: 14px;
		}
		&:nth-child(3),
		&:nth-child(4){
			.seminar-photo {
				float: right;
			}
			.seminar-info {
				&:before {
					left: 100%;
					transform: rotate(45deg) translateY(-50%) translateX(-27px);
				}
			}
		}
	}
}


.rev-white {
	background: url(../img/rewbgwhite.jpg) 50% 100%;
	// background-size: cover;
	padding-bottom: 100px;
	position: relative;
	&:after {
		content: '';
		display: block;
		width: 117px;
		height: 32px;
		background: url(../img/layer-faces.png)  50% no-repeat;
		position: absolute;
		left: 50%;
		bottom: -15px;
		transform: translateX(-50%);
	}
	.sec-title {
		color: $darkB;
	}
}

.video-rewiews {
	padding-top: 75px;
	text-align: center;
	position: relative;
	padding-top: 72px;
	min-height: 751px;
	background: url(../img/video-rewies-bg.jpg) 50% no-repeat;
	background-size: cover;
	.sec-title {
		color: #fff;
		&:after {
			margin-bottom: 42px;
		}
	}
	.video-slider {
		width: 708px;
		height: 420px;
		background: url(../img/videorewbg.jpg) 50% no-repeat;
		display: inline-block;
	}
	.slider-nav {
		width: 182px;
		height: 26px;
		margin: 0 auto;
		margin-top: 60px;
		background: url(../img/videoslider-nav.png) 50%  no-repeat;
	}
}

.sec-sertificate {
	padding-top: 118px;
	padding-bottom: 118px;
	.sertificate-photo {
		height: 358px;
		width: 49%;
		display: inline-block;
		vertical-align: top;
		// float: left;
		background: url(../img/sertificate.png)0 50% no-repeat;
	}
	.sertificate-info {
		width: 50%;
		max-width:500px;
		display: inline-block;
		vertical-align: top;
		.sec-title {
			&:after {
				margin-left: 0;
				margin-bottom: 28px;
			}
		}
		.sert-text {
			opacity: 0.8;
			color: #333333;
			font-family: $CR;
			font-size: 20px;
			margin-bottom: 29px;
		}
		.btn {
			text-transform: uppercase;
		}
	}
}

.talpis-bio-sec {
	padding-top: 117px;
	padding-bottom: 117px;
	background: url(../img/about-circles1.jpg) 0 100% no-repeat;
	.sec-title {
		&:after {
			margin-left: 0;
			margin-bottom: 34px;
		}
	}
	.talpis-info {
		opacity: 0.8;
		color: $darkB;
		font-family: $CR;
		font-size: 26px;
		margin-bottom: 40px;
	}
	.text {
		color: #595959;
		font-family: $CR;
		font-size: 20px;
		line-height: 28px;
		line-height: 72px;
		margin-bottom: 18px;
		span {
			width: 72px;
			height: 72px;
			border: 1px solid #efefef;
			border-radius: 50%;
			margin-right: 15px;
			display: inline-block;
			text-align: center;
			color: $blue;
			font-family: $CR;
			font-size: 26px;
		}
		&.big {
			line-height: 32px;
			span {
				line-height: 72px;
				float: left;
			}
		}
	}
	// .talpis-bio {
	// 	width: 50%;
	// 	display: inline-block;
	// 	vertical-align: top;

	// }
	.talpis-photo {
		// display: inline-block;
		// width: 448px;
		height: 712px;
		vertical-align: top;
		margin-bottom: 20px;
		// float: right;
		background: url(../img/talpis-bio-photo.jpg) 50% 0 no-repeat;
	}
	.btn-more {
		margin-top: 44px;
	}
}

.course-formblock {
	.bottom-text {
		max-width: 620px;
		display: inline-block;
		margin-bottom: 36px;
		margin-top: 0px;
		font-size: 16px;
		font-family: $CR;
		color: #929292;
		span {
			color: #fc3c45;
		}
		b {
			color: #000;
		}
	}
}

.sec-serteficate-blue {
	padding: 75px 0;
	background-color: $blue;
	.sert {
		display: inline-block;
		vertical-align: top;
		width: 358px;
		height: 263px;
		background: url(../img/sert.png) 50% no-repeat;
		margin-right: 70px;
	}
	.text-block {
		display: inline-block;
		vertical-align: top;
		max-width: 670px;
		.text {
			color: $white;
			font-family: $CB;
			font-size: 26px;
			margin-bottom: 42px;
			span {
				display: block;
				opacity: 0.8;
				color: $white;
				font-family: $CB;
				font-size: 26px;
				margin-bottom: 17px;
			}
		}
		.btn-bron {
			text-transform: uppercase;
			color: #fff;
			background-color: $red;
		}
	}
}


