extends ../layouts/freelance.jade

block title
	title Vselenskaya teraphy addition page

block content
	//- variables

	//- Content code

	// SECTION 1
	section.course-sec1.vseladd-sec1
		.container
		h1.course-title.
			ВсеЛенская Терапия. <br>
			Дополнения
		p.course-subtitle.
			Дальнейшее погружение в методику Леонида Тальписа <br>
			через расширение и углубление круга решаемых вопросов
		a.btn.btn-bron(href="#") Забронировать
		a.btn.btn-more(href="#") Узнать подробней

	// SECTION 2
	section.course-sec2.vseladd-sec2
		.container
			h2.sec-title.
				Описание методики
			p.sec-subtitle.
				Для тех, кто уже прошел основной курс обучения ВсеЛенской терапии, 
				мы предлагаем по новому взглянуть на принципиально важные 
				и часто возникающие при работе с клиентами темы. 
			.elements

				.element.el1
					.element-icon
					p.element-text.
						Дополнения существенно расширяют и дополняют основной курс ВсеЛенской Терапии

				.element.el2
					.element-icon
					p.element-text.
						Вы сможете сосредоточиться на самых важных жизненных вопросах для Вас и Ваших клиентов

				.element.el3
					.element-icon
					p.element-text.
						Работа с вопросами, обычно остающимися за рамками классической психологии

				.element.el4
					.element-icon
					p.element-text.
						Способы интеграции ВсеЛенской терапии в вашу терапевтическую практику

				.element.el5
					.element-icon
					p.element-text.
						Получение новых степеней свободы, выход за рамки привычных жизненных сценариев


	// SECTION 3
	section.vseladd-sec3
		.container
			p.text.
				Мало кто из терапевтов способен помочь клиенту прожить и интегрировать <br>
				этот опыт в безопасном для него пространстве, <br>
				а мы – этому учим!
			a.btn.btn-red(href="#") Забронировать

	// SECTION 4
	section.vseladd-sec4
		.container
			h2.sec-title.
				ВсеЛенская Терапия состоит<br>
				Из Дополнений 1-2-3
			p.text.
				Каждое из которых фокусируется <br>
				на глубоких запросах и помогает найти быстрое <br>
				и безболезненное решение!

	// SECTION ADDITIONS
	section.vseladd-additions
		.addition.add1
			h2.sec-title Долнение 1
			a.btn-more( data-target="add1") Подробнее
		.addition.add2
			h2.sec-title Долнение 2
			a.btn-more(data-target="add2") Подробнее
		.addition.add3
			h2.sec-title Долнение 3
			a.btn-more( data-target="add3") Подробнее
		.switch.seminar-plan.hidden-add1
			.container
				h2.sec-title.
					Пройдя курс ВсеЛенская терапия. Дополнение 1, <br>
					вы сможете:
				p.title	План семинара
				ul
					li.
						Наладить человеческие отношения 
						с самим собой.
					li.
						Научиться быть живым и достигать поставленных целей.
					li.
						Находить ресурсы и преодолевать 
						блоки.

				ul
					li.
						Развивать интуицию, ясность 
						и чувствительность.
					li.
						Построить собственный терапевтический стиль.

					li.
						Перестать бояться «сложных клиентов» и стать эффективным в работе с ними.

				a.btn.btn-bron ЗАБРОНИРОВАТЬ

		.switch.seminar-plan.hidden-add2
			.container
				h2.sec-title.
					Пройдя курс ВсеЛенская терапия. Дополнение 2, <br>
					вы сможете:
				p.title	План семинара
				ul
					li.
						Перестать бояться темы Смерти и закрыть боль, которая с ней связана. человеческие отношения с самим собой.
					li.
						Научиться управлять временем 
						своей жизни.
					li.
						Понять и восстановить связь 
						с чем-то Большим.

				ul
					li.
						Перезагрузить свою жизнь, 
						пройдя внутренний путь к свободе 
						через пустоту.
					li.
						Углубиться в методику работу 
						с базовыми дуальностями.

					li.
						Понять собственную Безопасность 
						и найти свою Любовь

				a.btn.btn-bron ЗАБРОНИРОВАТЬ

		.switch.seminar-plan.hidden-add3
			.container
				h2.sec-title.
					Пройдя курс ВсеЛенская терапия. Дополнение 3, <br>
					вы сможете:
				p.title	План семинара
				ul
					li.
						Понимать Ваши самые большие страхи 
						и страхи Ваших клиентов.
					li.
						Организовать совладение над собой 
						и другими.
					li.
						Изменять контексты, которые Вы организовываете себе и другим.

				ul
					li.
						Углубиться в понятие Свободы, как возможности выдерживать неопределенность.
					li.
						Научиться выходить за рамки 
						собственного Я и методик работы.

					li.
						Перестать создавать иллюзии вокруг себя и направить свою энергию на достижение поставленных целей.

	// SECTION 5
	section.vseladd-sec5
		.container
			h2.sec-title.
				ВсеЛенская Терапия. Дополнения <br>
				фокусируется на обучении работать <br>
				с такими темами, как:
			.themes
				p.theme.theme1 Любовь и Свобода
				p.theme.theme2 Время и Бог
				p.theme.theme3 Жизнь  <br> и Смерть
				p.theme.theme4 Достоинство  <br> и Этика
				p.theme.theme5 Власть и Ответственность
			h2.sec-title.st2.
				Этим самым раскрывая неповторимую глубину метода <br>
				и расширяет возможности для поиска индивидуального подхода для Вас <br>
				и Ваших клиентов
			p.text.
				Обучившись Дополнениям к ВсеЛенской терапии, Вы можете выйти <br>
				за стандартные рамки запросов, касающимся отношений, денег и здоровья, <br>
				и сфокусироваться на более глубоких причинах происходящего с клиентом и его жизнью, познавая тонкости терапии травм любой сложности

	// SECTION 6
	section.vseladd-sec6
		.container
			.left-block
				h2.sec-title.
					ВсеЛенская терапия. <br>
					 Дополнения – для Вас, <br>
					если Вы:
				ul
					li.
						Обучились ВсеЛенской терапии и желаете расширить и углубить свои знания в работе 
						с различными ее аспектами
					li.
						Сделать свою жизнь и жизнь своих клиентов более осознанными. Понять и интегрировать в свою жизнь понятия ВсеЛенской терапии
					li.
						Хотите научится обеспечивать безопасность 
						и экологичность терапии для клиента.
					li.
						Понять свое место и оптимизировать свои терапевтические стратегии
					a.btn.btn-red Забронировать

			.image-block

	// SECTION SERTEFICATE-BLUE
	section.sec-serteficate-blue
		.container
			.sert
			.text-block
				p.text.
					<span>А главное:</span>
					По окончании курса вы получите сертификат 
					Общероссийской Профессиональной 
					Психотерапевтической Лиги соответствующего уровня.
				a.btn.btn-bron Забронировать место



	include ../common/rewiews.jade

	// SECTION 9
	section.met-sec7.vseladd-sec7
		.container
			h2.sec-title.
				Не стоит искать промежуточных решений <br>
				сложных вопросов! 
			p.sec-subtitle.
				Дополнения к ВсеЛенской терапии <br>
				помогут вам улучшить базовую методологию и расширить свой арсенал навыков <br>
				по работе с Клиентами!

	// SECTION 10
	section.vsel-sec10.course-formblock
		.container
			.form-block
				form
					p.form-title.
						Углубите свои знания и получите практическую базу 
					p.form-subtitle Для регистрации на семинар – заполните форму
					input(type="text", name="name", placeholder="Имя / Фамилия").name
					input(type="text", name="phone", placeholder="Номер телефона").phone
					input(type="text", name="email", placeholder="Email").email
					input(type="text", name="country", placeholder=" Город / Страна").country
					.education-block
						p.question Есть ли у вас психологическое образование?
						span.radio.checked Нет
						span.radio Да
					a.seminar-price(href="#modal-vselenskayaaddPrice") Стоимость семинара
					input(type="submit", value="Забронировать место").btn.met-subm
					p.bottom-text.
						<span>*</span> - Перед прохождением Дополнений обязательно прохождение базового семинара по <span>Вселенской терапии</span>

	include ../common/closest-seminars.jade

	include ../common/video-rewiews.jade

	include ../common/talpis-bio.jade

	include ../common/teraphy.jade












