.footer {
	text-align: center;
	.form-inline {
		display: inline-block;
	}
	.top-footer {
		min-height: 110px;
		padding-top: 38px;
		padding-bottom: 38px;
		background-color: #f6f9fd;
		p {
			display: inline-block;
			color: #b5bdca;
			font-family: $CB;
			font-size: 14px;
			margin: 0 73px;
			padding-left: 23px;
		}
		.place {background: url(../img/place-icon.png) 0 50% no-repeat;}
		.email-adress {background: url(../img/email-icon.png) 0 50% no-repeat;}
		.phone-number {
			background: url(../img/phone-icon.png) 0 50% no-repeat;
			margin-right:0;}
		.search {
			width: 260px;
			height: 34px;
			border-radius: 28px;
			border: 1px dashed #e5eaf5;
			color: #a1a4ad;
			font-family: $CR;
			font-size: 14px;
			padding-left: 16px;
			background:  #ecf1f6 url(../img/serach-icon.png) 90% 50% no-repeat;
			margin-right: 30px;
		}
	}
	.main-footer {
		min-height: 350px;
		background-color: $blue;
		padding-top: 68px;
		.logo {
			color: $white;
			font-family: $MB;
			font-size: 27px;
			line-height: 27px;
			margin-bottom: 29px;
		}
		.footer-nav {
			margin: 0;
			padding: 0;
			margin-bottom: 33px;
			li {
				display: inline-block;
				margin: 0 15px;
				a {
					opacity: 0.8;
					color: $white;
					font-family: $CB;
					font-size: 12px;
					text-transform: uppercase;
				}
			}
		}
		.social {
			display: block;
			// width: 162px;
			// height: 26px;
			// background: url(../img/social.png) 0 0 no-repeat;
			margin: 0 auto;
			margin-bottom: 50px;
			a.pluso-more {
				display: none !important;
			}
			.pluso-010010010110-05 .pluso-wrap {
				a {border-radius: 50%;}
				a.pluso-vkontakte {background: rgba(0,0,0,0.2) url(../img/vk-icon.png) 50% no-repeat !important ; }
				a.pluso-facebook {background: rgba(0,0,0,0.2) url(../img/fb-icon.png) 50% no-repeat !important ; }
				a.pluso-google {background: rgba(0,0,0,0.2) url(../img/gp-icon.png) 50% no-repeat !important ; }
				a.pluso-twitter {background: rgba(0,0,0,0.2) url(../img/tw-icon.png) 50% no-repeat !important ; }
				a.pluso-odnoklassniki {background: rgba(0,0,0,0.2) url(../img/od-icon.svg) 50% no-repeat !important ; }
			}
		}
	}
	.copy {
		min-height: 50px;
		background-color: #1c73a9;
		padding-top: 16px;
		p {
			opacity: 0.6;
			color: $white;
			font-family: $CR;
			font-size: 13px;
		}
	}
}

@media only screen and (max-width : 1170px) {
	.footer {
		.top-footer {
			p {
				margin: 0 30px;
			}
		}
	}
}

@media only screen and (max-width : 960px) {
	.footer {
		.top-footer {
			.search {
				margin-right: 0;
			}
		}
		.form-inline {
			display: block;
			margin-bottom: 20px;
		}
		.main-footer {
			.footer-nav li {
				margin: 0 5px;
				a {
					font-size: 11px;
				}
			}
		}
	}
}

@media only screen and (max-width : 720px) {
	.footer {
		.form-inline {
			text-align: center;

		}
		.top-footer {
			text-align: left;
			p {
				display: block;
				margin: 0;
				margin-left: 50px;
				margin-bottom: 16px;
				&.phone-number {
					margin-bottom: 0;
				}
			}
		}
		.main-footer {
			padding-top: 40px;
			.footer-nav {
				li {
					float: none;
					display: block;
					text-align: center;
					margin-bottom: 16px;
				}
			}
			.social {
				margin-bottom: 32px;
			}
			.footer-btn {
				margin-bottom: 40px;
			}
		}
		.copy {
			padding-top: 40px;
			padding-bottom: 40px;
			p{
			width: 300px;
			margin: 0 auto;
			font-size: 14px;
			}
		}
	}
}