/*********************************************\
		COLORS
\*********************************************/

$darkL: #666666;
$darkB: #333333;
$red: #ff5656;
$blue: #1d79b1;
$white: #ffffff;


/*********************************************\
		FONTS
\*********************************************/
$CR: CirceRegular;
$CB: CirceBold;
$CE: CirceExtraBold;
$CL: CirceLight;
$MB: MyriadProBold;
$HR: HelveticaNeueRegular;
$HB: HelveticaNeueBold;
$HL: HelveticaNeueLight;

$mainFont: $CR;

