
@import "bourbon";
/* ---------- FONTS ---------- */
//пример подключения шрифта (для быстрого подкл. используйте snippet iff)
@include font-face("CirceRegular", "../fonts/CirceRegular/CirceRegular", $file-formats: eot woff ttf);
@include font-face("CirceBold", "../fonts/CirceBold/CirceBold", $file-formats: eot woff ttf);
@include font-face("CirceExtraBold", "../fonts/CirceExtraBold/CirceExtraBold", $file-formats: eot woff ttf);
@include font-face("MyriadProBold", "../fonts/MyriadProBold/MyriadProBold", $file-formats: eot woff ttf);
@include font-face("HelveticaNeueRegular", "../fonts/HelveticaNeueRegular/HelveticaNeueRegular", $file-formats: eot woff ttf);
@include font-face("HelveticaNeueBold", "../fonts/HelveticaNeueBold/HelveticaNeueBold", $file-formats: eot woff ttf);
@include font-face("HelveticaNeueLight", "../fonts/HelveticaNeueLight/HelveticaNeueLight", $file-formats: eot woff ttf);
@include font-face("CirceLight", "../fonts/CirceLight/CirceLight", $file-formats: eot woff ttf);

/* ---------- @IMPORT VARIABLES ---------- */
@import "_variables.scss";


/* ---------- @IMPORT BUTTONS ---------- */
@import "_buttons.scss";


/* ----------MAIN STYLE---------- */
body {
	font-family: $CR, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	min-width: 320px;
	color: #333333;
	position: relative;
	background-color: #ffffff;
}

////Удалить или закоментировать при адаптивном дизайне!//////////////
.container {
	// position: relative;
	width: 100% !important;
	max-width: 1140px !important;}
//////////////////////////////////////////////////////////////////////

a {
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		// color: #fff;
	}
}

.hidden {
	display: none;
}


.wrapper {
	margin: 0 auto;
}

section.blueheader {
	width: 100%;
	height: 72px;
	background-color: $blue;
}

p {
	margin: 0;
	padding: 0;
}

br.sm {display: none;}
br.xs {display: none;}

//validatorGM styles//
form input.error {
	box-shadow: inset 0px 0px 20px 1px rgba(255,0,0,0.3);
	border: 2px solid red !important;}
form input.not_error {
	box-shadow: inset 0px 0px 20px 1px rgba(100,255,100,0.3);
	border: 2px solid #99FF99 !important;}


/* ----------IMPORT HEADER STYLES---------- */
@import "_header.scss";

/* ----------TYPOGRAPHY---------- */
h2.sec-title {
	margin: 0;
	color: $darkB;
	font-family: $CB;
	font-size: 40px;
	line-height: 52px;
	&:after {
		content: '';
		display: block;
		width: 61px;
		height: 3px;
		background-color: $red;
		border-radius: 3px;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 18px;
	}
}

.sec-subtitle {
	color: $darkL;
	font-family: $CR;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 48px;
}

h1.course-title {
	color: $white;
	font-family: $CB;
	font-size: 56px;
	line-height: 72px;
	&:after {
		content: '';
		display: block;
		margin: 0 auto;
		margin-top: 19px;
		margin-bottom: 27px;
		width: 99px;
		height: 3px;
		background-color: $red;
	}
}
.course-subtitle {
	opacity: 0.8;
	color: $white;
	font-family: $CR;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 50px;
}
/* ----------SECTIONS AND PAGES---------- */
@import "pages/_common.scss";
@import "pages/_home.scss";
@import "pages/_author.scss";
@import "pages/_contacts.scss";
@import "pages/_trainers.scss";
// COURSES STYLES
@import "pages/courses/_courses-common.scss";
@import "pages/courses/_methaphor-cards.scss";
@import "pages/courses/_trainer.scss";
@import "pages/courses/_batch-learning.scss";
@import "pages/courses/_vsel-teraphy.scss";
@import "pages/courses/_teta-hilling.scss";
@import "pages/courses/_tochka-sborki.scss";

@import "_modals.scss";


/* ----------IMPORT FOOTER STYLES---------- */
@import "_footer.scss";

/* ----------IMPORT MEDIA STYLES---------- */
@import "_media.scss";