// SECTION closest-seminars
section.closest-seminars
	.container
		h2.sec-title Ближайшие семинары
		.seminars
			.seminar
				.seminar-photo
				.seminar-info
					p.seminar-name.
						Семинар
						<span>«Точка сборки»</span>
					p.seminar-txt.
						Новейшие инструменты работы с психикой сейчас находятся на …
					span.date 14 Апреля
					a.more Подробнее
			.seminar
				.seminar-photo
				.seminar-info
					p.seminar-name.
						Семинар
						<span>«Точка сборки»</span>
					p.seminar-txt.
						Новейшие инструменты работы с психикой сейчас находятся на …
					span.date 14 Апреля
					a.more Подробнее
			.seminar
				.seminar-photo
				.seminar-info
					p.seminar-name.
						Семинар
						<span>«Точка сборки»</span>
					p.seminar-txt.
						Новейшие инструменты работы с психикой сейчас находятся на …
					span.date 14 Апреля
					a.more Подробнее
			.seminar
				.seminar-photo
				.seminar-info
					p.seminar-name.
						Семинар
						<span>«Точка сборки»</span>
					p.seminar-txt.
						Новейшие инструменты работы с психикой сейчас находятся на …
					span.date 14 Апреля
					a.more Подробнее 