footer.footer
	.top-footer
		.container
			input.search(placeholder="Введите запрос")
			p.place Москва, ул. Челюскинская, 9
			p.email-adress contact@talpis.com
			p.phone-number 8 (495) 589-72-27
	.main-footer
		.container
			.logo Talpis.com
			nav.footer-nav
				li 
					a Главная
				li 
					a Трененги и Семинары
				li 
					a Тренеры и партнеры
				li 
					a Об Авторе
				li 
					a Календарь
				li 
					a Статьи и видео
				li 
					a Контакты
			.social
			a.footer-btn(href="#") Покупка карт
	.copy
		p.
			© Talpis.com. Все права защищены. Копирование материалов сайта разрешено только с письменного согласия правообладателей.

// MODALS
.modal-overlay#modal-tetaPrice.modal-seminar-price
	.modal-content
		.close-button
			span.one
			span.two
		p.seminar-name Семинар  Тета-Хилинг
		p.modal-title Стоимость семинара
		.prices-blocks.clearfix
			.price-block.pb1
				p.price-val 16 000 <span>руб </span>
				p.price-info.
					При оплате до 
					<span>1 августа</span> с учетом предоплаты.
			.price-block.pb2
				p.price-val 17 000 <span>руб </span>
				p.price-info.
					При оплате до 
					<span>1 октября</span> с учетом предоплаты.
			.price-block.pb3
				p.price-val 18 000 <span>руб </span>
				p.price-info.
					При оплате до 
					<span>1 октября</span> с учетом предоплаты.
			.price-block.pb4
				p.price-val 18 500 <span>руб </span>
				p.price-info.
					При оплате до 
					При оплате в день начала семинара 
		.bottom-text.
			<span>*</span> Для бронирования места на тренинге и фиксации суммы Вашей оплаты <br>
			необходимо внести предоплату <span class="blue">5 000 рублей</span>
		a.btn.btn-bron Забронировать


script(src="js/popup_script.js")
script(src="js/common.js")