header.main-header
	a.logo Talpis.com
	nav.header-menu
		li
			a(href="#").active Главная
		li
			a(href="#") Тренинги
		li
			a(href="#") Об Авторе
		li
			a(href="#") Календарь
		li
			a(href="#") Статьи и видео
		li
			a(href="#") Контакты


