// MODALS
// MODAL TETA PHILLING
.modal-overlay#modal-tetaPrice.modal-seminar-price
	.modal-content
		.close-button
			span.one
			span.two
		p.seminar-name Семинар  Тета-Хилинг
		p.modal-title Стоимость семинара
		.prices-blocks.clearfix
			.price-block.pb1
				p.price-val 16 000 <span>руб </span>
				p.price-info.
					При оплате до 
					<span>1 августа</span> с учетом предоплаты.
			.price-block.pb2
				p.price-val 17 000 <span>руб </span>
				p.price-info.
					При оплате до 
					<span>1 октября</span> с учетом предоплаты.
			.price-block.pb3
				p.price-val 18 000 <span>руб </span>
				p.price-info.
					При оплате до 
					<span>1 октября</span> с учетом предоплаты.
			.price-block.pb4
				p.price-val 18 500 <span>руб </span>
				p.price-info.
					При оплате до 
					При оплате в день начала семинара 
		.bottom-text.
			<span>*</span> Для бронирования места на тренинге и фиксации суммы Вашей оплаты <br>
			необходимо внести предоплату <span class="blue">5 000 рублей</span>
		a.btn.btn-red Забронировать


// MODAL VSELENSKAYA SEMINAR
.modal-overlay#modal-vselenskayaPrice.modal-seminar-price
	.modal-content
		.close-button
			span.one
			span.two
		p.seminar-name Семинар ВсеЛенская терапия
		p.modal-title Стоимость семинара
		.prices-blocks.clearfix
			.price-block.pb1
				p.price-val 55 000 <span>руб </span>
				p.price-info.
					При оплате до 
					<span>1 августа</span> с учетом предоплаты.
			.price-block.pb2
				p.price-val 60 000 <span>руб </span>
				p.price-info.
					При оплате до 
					<span>1 октября</span> с учетом предоплаты.
			.price-block.pb3
				p.price-val 65 000 <span>руб </span>
				p.price-info.
					При оплате до 
					<span>1 октября</span> с учетом предоплаты.
		.bottom-text.
			<span>*</span> Для бронирования места на тренинге и фиксации суммы Вашей оплаты <br>
			необходимо внести предоплату <span class="blue">5 000 рублей</span>
		a.btn.btn-red Забронировать

// MODAL TOCHKA SBORKI SEMINAR
.modal-overlay#modal-tsPrice.modal-seminar-price
	.modal-content
		.close-button
			span.one
			span.two
		p.seminar-name Семинар Точка Сборки
		p.modal-title Стоимость семинара
		.prices-blocks.clearfix
			.price-block.pb1
				p.price-val 22 000 <span>руб </span>
				p.price-info.
					При оплате до 
					<span>1 августа</span> с учетом предоплаты.
			.price-block.pb2
				p.price-val 24 000 <span>руб </span>
				p.price-info.
					При оплате до 
					<span>1 октября</span> с учетом предоплаты.
			.price-block.pb3
				p.price-val 26 000 <span>руб </span>
				p.price-info.
					При оплате до 
					<span>1 октября</span> с учетом предоплаты.
		p.bottom-text.
			<span>*</span> Количество мест на семинаре ограничено. <br>
			Посещение семинара возможно только после внесения предоплаты.<br><br>

			<span>*</span> При пропуске семинара предоплата не возвращается.
		a.btn.btn-red Забронировать

// MODAL INDiVIDUAL TERAPHY 
.modal-overlay#modal-individual-teraphy.modal-teraphy
	.modal-content
		.close-button
			span.one
			span.two
		.form-block
			form
				p.form-title.
					Запись на <br>
					индивидуальную терапию
				p.form-subtitle Для регистрации на семинар – заполните форму
				input(type="text", name="name", placeholder="Имя / Фамилия").name
				input(type="text", name="phone", placeholder="Номер телефона").phone
				input(type="text", name="email", placeholder="Email").email
				input(type="text", name="country", placeholder=" Город / Страна").country
				.education-block
					p.question Проходили Вы семинар ?
					span.radio.checked Нет
					span.radio Да
				input(type="submit", value="ЗАписаться").btn.met-subm

// MODAL GROUP TERAPHY 
.modal-overlay#modal-group-teraphy.modal-teraphy
	.modal-content
		.close-button
			span.one
			span.two
		.form-block
			form
				p.form-title.
					Запись на <br>
					груповую терапию
				p.form-subtitle Для регистрации на семинар – заполните форму
				input(type="text", name="name", placeholder="Имя / Фамилия").name
				input(type="text", name="phone", placeholder="Номер телефона").phone
				input(type="text", name="email", placeholder="Email").email
				input(type="text", name="country", placeholder=" Город / Страна").country
				.education-block
					p.question Проходили Вы семинар ?
					span.radio.checked Нет
					span.radio Да
				input(type="submit", value="ЗАписаться").btn.met-subm