// SECTION REWIEWS
section.sec-rewiews
	.container
		h2.sec-title Отзывы
		.rewiew-slider
			.rewiew.rew1
				.author-info
					.author-icon
					p.author-name Хана Шнайдман
					p.author-prof Психолог, Израиль
				.rewiew-info
					p.rewiew-theme ВсеЛенская терапия
					p.rewiew-name.
						Фантастической красоты, 
						глубины и силы работа
					p.rewiew-text.
						Фантастической красоты, глубины и силы работа. Правильная, точная, чистая. Всем, кто живет и думает, а еще больше тем, кто думает и не живет — срочно, немедленно и необходимо — к Тальпису!
		.slider-nav