// SECTION REWIEWS
section.sec-reviews.rev-white
	.container
		h2.sec-title Отзывы
		.review-slider
			.review.rev1
				.author-info
					.author-icon
					p.author-name Хана Шнайдман
					p.author-prof Психолог, Израиль
				.review-info
					p.review-theme ВсеЛенская терапия
					p.review-name.
						Фантастической красоты,
						глубины и силы работа
					p.review-text.
						Фантастической красоты, глубины и силы работа. Правильная, точная, чистая. Всем, кто живет и думает, а еще больше тем, кто думает и не живет — срочно, немедленно и необходимо — к Тальпису!
		.slider-nav