// SECTION SERTIFICATE
section.sec-sertificate
	.container
		.sertificate-photo
		.sertificate-info 
			h2.sec-title.
				Сертификат<br>
				о прохождении тренинга
			p.sert-text.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque 
			a.btn.btn-red(href="#") Забронировать место