form.subscribe-form
	p.form-title.
		Узнайте первыми о свежих тренингах <br>
		и семинарах в Вашем городе!
	.input-wrap
		input(type="text",name="name", class="name",placeholder="Вашe Имя")
		input(type="text",name="email", class="email",placeholder="Ваш e-mail")
		input(type="submit", value="ПОДПИСАТЬСЯ").btn.btn-red