// SECTION TALPIS BIO
section.talpis-bio-sec
		.container
			.talpis-bio
				h2.sec-title Тальпис Леонид Борисович
				p.talpis-info.
					Практикующий психолог и потомственный врач, имеющий два высших образования: 
					Медицина и Психология
				p.text.
					<span>20</span> Лет практики
				p.text.
					<span>8</span> Лет разработки собственного метода
				p.text.big.
					<span>1-й</span> Кто дополнил базовое обучение 
						метафорическими картами авторской методикой
				p.text.
					<span>20</span> Тис. учеников за годы практики 
				a.btn.btn-more ПОДРОБНЕЕ ОБ АВТОРЕ
			.talpis-photo