// SECTION TERAPHY
section.sec-teraphy
	.left
		h2.sec-title.
			Запись на <br>
			 индивидуальную терапию
		a.btn.btn-teraphy(href="#")  Записаться
	.right
		h2.sec-title.
			Запись на <br>
			 рупповую терапию
		a.btn.btn-teraphy(href="#")  Записаться