// SECTION TERAPHY
section.sec-teraphy
	.left
		h2.sec-title.
			Запись на <br>
			 индивидуальную терапию
		a.btn.btn-teraphy(href="#modal-individual-teraphy")  Записаться
	.right
		h2.sec-title.
			Запись на <br>
			 рупповую терапию
		a.btn.btn-teraphy(href="#modal-group-teraphy")  Записаться