.cources-sec1 {
	padding-top: 44px;
	padding-bottom: 70px;
	position: relative;
	text-align: center;
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -27px;
		left: 50%;
		transform: translateX(-50%);
		width: 119px;
		height: 44px;
		background: url(../img/layer1.png) 0 0 no-repeat;
	}

	aside {
		display: inline-block;
		vertical-align: top;
		width: 260px;
		text-align: left;
		.cources-list {
			margin: 0;
			padding-left: 13px;
			width: 260px;
			margin-bottom: 73px;
			li {
				list-style-type: none;
				a {
					color: $darkB;
					font-family: $CR;
					font-size: 16px;
					line-height: 20px;
					width: 235px;
					padding-left: 12px;
					padding-right: 30px;
					border-radius: 30px;
					display: block;
					position: relative;
					cursor: pointer;
					padding-top: 10px;
					padding-bottom: 10px;
					&:hover,
					&.active {
						background-color: #f6f9fd;
						&:after {
							content: '';
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							right: 14px;
							display: block;
							border-radius: 50%;
							width: 10px;
							height: 10px;
							box-shadow: 0 12px 10px rgba(235, 238, 244, 0.5);
							border: 2px solid $red;
						}
					}
				}
			}
		}
	}
	article {
		width: 100%;
		max-width: 850px;
		vertical-align: top;
		display: inline-block;
		.cources {
			text-align: center;
			.cource {
				padding-top: 36px;
				display: inline-block;
				vertical-align: top;
				margin-bottom: 24px;
				width: 258px;
				height: 275px;
				border-radius: 5px;
				background-color: #f6f9fd;
				transition: all 0.3s linear;
				&:hover,
				&.active {
					box-shadow: 0 12px 10px #ebeef4;
					border-radius: 5px;
					background-color: $white;
				}
				.cource-icon {
					width: 72px;
					height: 72px;
					display: inline-block;
					margin-bottom: 35px;
					border-radius: 50%;
					background-repeat: no-repeat;
					background-position: 50%;
				}
				.cource-name {
					color: $darkB;
					font-family: $CB;
					position: relative;
					font-size: 20px;
					line-height: 24px;
					margin-bottom: 34px;
					&:after {
						content: '';
						display: block;
						width: 48px;
						height: 3px;
						position: absolute;
						bottom: -15px;
						left: 50%;
						transform: translateX(-50%);
						transition: all 0.3s linear;
					}
					&.big {
						margin-bottom: 12px;
					}
				}
				.cource-info {
					opacity: 0.8;
					color: $darkL;
					font-family: $CR;
					font-size: 14px;
					line-height: 18px;
					max-width: 220px;
					display: inline-block;
				}
			}
			.c2,
			.c5,
			.c8 {
				margin-left: 24px;
				margin-right: 24px;
			}
			.c1 {
				.cource-icon {
					background-image: url(../img/metaphor-cards-icon.png);
					background-color: $red;
				}
				&:hover {
					.cource-name {
						color: $red;
					}
					.cource-name:after {
						background-color: $red;
					}
				}
			}
			.c2 {
				.cource-icon {
					background-image: url(../img/tochka-sborki-icon.svg);
					background-color: #2fa8cc;
				}
				&:hover {
					.cource-name {
						color: #2fa8cc;
					}
					.cource-name:after {
						background-color: #2fa8cc;
					}
				}
			}
			.c3 {
				.cource-icon {
					background-image: url(../img/vselensaya-teraphy-icon.svg);
					background-color: #f29c1f;
				}
				&:hover {
					.cource-name {
						color: #f29c1f;
					}
					.cource-name:after {
						background-color: #f29c1f;
					}
				}
			}
			.c4 {
				.cource-icon {
					background-image: url(../img/vselenka-add-icon.png);
					background-color: #f29c1f;
				}
				.cource-name:after {
					bottom: -10px;
				}
				&:hover {
					.cource-name {
						color: #f29c1f;
					}
					.cource-name:after {
						background-color: #f29c1f;
					}
				}
			}
			.c5 {
				.cource-icon {
					background-image: url(../img/system-model-icon.svg);
					background-color: #4fba6f;
				}
				.cource-name:after {
					bottom: -10px;
				}
				&:hover {
					.cource-name {
						color: #4fba6f;
					}
					.cource-name:after {
						background-color:  #4fba6f;
					}
				}
			}
			.c6 {
				.cource-icon {
					background-image: url(../img/teta-hilling-icon.svg );
					background-color: #edc92f;
				}
				&:hover {
					.cource-name {
						color: #edc92f;
					}
					.cource-name:after {
						background-color: #edc92f;
					}
				}
			}
			.c7 {
				.cource-icon {
					background-image: url(../img/trener-course-icon.svg );
					background-color: #b49aca;
				}
				&:hover {
					.cource-name {
						color: #b49aca;
					}
					.cource-name:after {
						background-color: #b49aca;
					}
				}
			}
			.c8 {
				.cource-icon {
					background-image: url(../img/group-teraphy-icon.svg );
					background-color: #26b99a;
				}
				&:hover {
					.cource-name {
						color: #26b99a;
					}
					.cource-name:after {
						background-color: #26b99a;
					}
				}
			}
			.c9 {
				.cource-icon {
					background-image: url(../img/batch-learning-icon.svg);
					background-color: #27d1db;
				}
				&:hover {
					.cource-name {
						color: #27d1db;
					}
					.cource-name:after {
						background-color: #27d1db;
					}
				}
			}
		}
	}
}

.cources-sec2 {
	padding-top: 70px;
	padding-bottom: 70px;
	article {
		// display: inline-block;
		vertical-align: top;
		margin-bottom: 70px;
		.post-image {
			width: 656px;
			height: 356px;
			background: url(../img/cources-post-image.jpg) 0 0 no-repeat;
			margin-bottom: 48px;
		}
		.post-title {
			color: $darkB;
			font-family: $CB;
			font-size: 26px;
			line-height: 36px;
			margin-bottom: 24px;
		}
		.text {
			color: $darkL;
			font-family: $CR;
			font-size: 16px;
		}
	}
	aside {
		// display: inline-block;
		// float: right;
		vertical-align: top;
		.banner {
			height: 218px;
			background-color: #dfdfdf;
			margin-bottom: 37px;
		}
	}
	.banner2 {
		margin-top: 70px;
		height: 150px;
		background-color: #dfdfdf;
	}
	.widget-postandvideo2 {
		// width: 456px;
		height: 671px;
		background: url(../img/widget2.jpg) 0 0 no-repeat;
	}
}